In [5]:
import intake
'connector' in intake.registry

True

In [6]:
source = intake.open_connector(provider_url = "https://provider:8080", consumer_url = "https://consumer:8080",
resource = "https://provider:8080/api/offers/1ff8493b-d0e1-4115-92af-69a8bc06bb19", representation = "https://provider:8080/api/representations/d36e02a3-bfbc-46e8-ac4d-558ad0afbab6")
source.discover()

{'dtype': {'number': 'int', 'title': 'str'},
 'shape': (None, 2),
 'npartitions': 1,
 'metadata': {}}

In [7]:
out = source.read()
out[['number', 'title']]

   number title
0       5   aaa
1       6   bbb
2       7   ccc

In [8]:
print(source.yaml())

sources:
  connector:
    args:
      consumer_url: https://consumer:8080
      provider_url: https://provider:8080
      representation: https://provider:8080/api/representations/d36e02a3-bfbc-46e8-ac4d-558ad0afbab6
      resource: https://provider:8080/api/offers/1ff8493b-d0e1-4115-92af-69a8bc06bb19
    description: ''
    driver: intake_ids.ConnectorSource
    metadata: {}