In [1]:
from intake_ids import ConnectorCatalog

provider_url = "https://provider:8080"
consumer_url = "https://consumer:8080"
# provider_url = "https://connectorb:8081"
# consumer_url = "https://connectora:8080"

catalog = ConnectorCatalog(provider_url=provider_url, consumer_url=consumer_url, name="testcat", auth=("admin", "password"))
catalog

ConnectionError: HTTPSConnectionPool(host='connectora', port=8080): Max retries exceeded with url: /api/ids/description?recipient=https%3A%2F%2Fconnectorb%3A8081%2Fapi%2Fids%2Fdata (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f366a0023b0>: Failed to establish a new connection: [Errno -5] No address associated with hostname'))

In [2]:
len(list(catalog))

2

In [3]:
last_entry: any
for entry_id, entry in catalog.items():
    # display(entry)
    last_entry = entry

In [15]:
for chunk in last_entry.read_chunked(): display(chunk)

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-12-01T00:05:00,1.70,-0.48,87.77,993.14,0.000,3.22,227,-0.11,1.70,4.54
1,2,2017-12-01T00:15:00,1.66,-0.52,88.24,993.14,0.000,1.64,239,-0.07,1.66,3.60
2,3,2017-12-01T00:25:00,1.62,-0.38,88.49,993.08,0.000,2.84,233,-0.08,1.62,3.67
3,4,2017-12-01T00:35:00,1.60,-0.44,88.76,993.08,0.000,3.12,230,-0.05,1.60,5.04
4,5,2017-12-01T00:45:00,1.58,-0.45,89.07,993.02,0.000,4.48,202,-0.02,1.58,7.67
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2017-12-07T23:25:00,7.46,-0.43,75.33,996.96,0.190,17.82,230,3.39,7.46,23.07
996,997,2017-12-07T23:35:00,7.20,-0.49,77.99,996.81,0.205,16.67,231,3.63,7.20,22.64
997,998,2017-12-07T23:45:00,7.04,-0.45,79.92,996.70,0.105,14.00,232,3.81,7.04,20.90
998,999,2017-12-07T23:55:00,7.14,-0.41,79.36,996.70,0.045,16.20,244,3.81,7.14,20.02
999,1000,2017-12-08T00:05:00,7.10,-0.44,79.88,996.72,0.025,15.33,238,3.87,7.10,23.88

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-11-01T00:05:00,6.85,-0.29,78.11,1011.31,0.0,4.09,217,3.30,6.85,6.26
1,2,2017-11-01T00:15:00,7.00,-0.23,77.68,1011.25,0.0,2.78,242,3.37,7.00,3.93
2,3,2017-11-01T00:25:00,7.09,-0.32,78.00,1011.25,0.0,3.48,238,3.51,7.09,6.80
3,4,2017-11-01T00:35:00,6.78,-0.32,79.14,1011.29,0.0,6.25,240,3.43,6.78,8.64
4,5,2017-11-01T00:45:00,6.81,-0.33,79.35,1011.19,0.0,6.16,234,3.49,6.81,8.21
...,...,...,...,...,...,...,...,...,...,...,...,...
1245,1246,2017-11-09T15:44:00,6.86,10.23,92.26,1009.55,0.0,7.66,216,5.69,6.86,10.80
1246,1247,2017-11-09T15:55:00,6.84,8.59,92.32,1009.58,0.0,7.57,214,5.68,6.84,11.30
1247,1248,2017-11-09T16:05:00,6.84,6.59,92.21,1009.64,0.0,8.32,218,5.67,6.84,11.89
1248,1249,2017-11-09T16:15:00,6.96,6.41,91.72,1009.71,0.0,7.70,207,5.71,6.96,10.10
1249,1250,2017-11-09T16:24:00,6.92,7.09,91.77,1009.81,0.0,8.42,217,5.68,6.92,13.83

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-10-01T00:02:00,12.27,-0.21,94.09,1006.33,0.010,9.49,229,11.35,12.27,12.96
1,2,2017-10-01T00:12:00,12.31,-0.22,93.77,1006.47,0.000,7.94,233,11.33,12.31,12.09
2,3,2017-10-01T00:22:00,12.36,-0.19,93.50,1006.45,0.005,8.37,229,11.34,12.36,11.17
3,4,2017-10-01T00:32:00,12.34,-0.19,93.42,1006.43,0.000,7.66,229,11.31,12.34,11.86
4,5,2017-10-01T00:42:00,12.37,-0.23,93.49,1006.43,0.000,7.77,222,11.35,12.37,10.34
...,...,...,...,...,...,...,...,...,...,...,...,...
3495,3496,2017-10-25T06:56:00,13.59,-0.13,84.74,1009.17,0.000,6.79,196,11.07,13.59,9.01
3496,3497,2017-10-25T07:06:00,13.64,-0.12,84.32,1009.07,0.000,5.98,196,11.05,13.64,8.80
3497,3498,2017-10-25T07:16:00,13.65,-0.14,84.18,1008.93,0.000,7.52,192,11.03,13.65,9.34
3498,3499,2017-10-25T07:26:00,13.56,-0.11,84.29,1008.99,0.000,6.16,191,10.96,13.56,7.54
3499,3500,2017-10-25T07:36:00,13.46,-0.01,85.18,1009.04,0.000,5.00,205,11.02,13.46,7.12

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-09-01T00:03:00,15.92,-0.10,79.82,1007.02,0.000,6.12,224,12.45,15.92,10.22
1,2,2017-09-01T00:13:00,15.88,-0.11,79.66,1007.08,0.000,5.93,223,12.38,15.88,7.96
2,3,2017-09-01T00:23:00,15.91,-0.03,79.32,1007.04,0.000,6.05,227,12.34,15.91,9.54
3,4,2017-09-01T00:33:00,15.90,-0.04,79.14,1007.08,0.000,4.18,242,12.29,15.90,9.61
4,5,2017-09-01T00:43:00,15.89,-0.01,79.33,1007.00,0.000,5.41,230,12.32,15.89,7.50
...,...,...,...,...,...,...,...,...,...,...,...,...
4314,4315,2017-09-30T23:12:00,12.35,-0.20,94.30,1006.45,0.045,6.25,243,11.46,12.35,8.38
4315,4316,2017-09-30T23:22:00,12.24,-0.20,94.36,1006.45,0.075,5.30,238,11.36,12.24,9.11
4316,4317,2017-09-30T23:32:00,12.24,-0.20,94.56,1006.45,0.075,6.14,236,11.39,12.24,8.03
4317,4318,2017-09-30T23:42:00,12.20,-0.23,94.69,1006.45,0.030,5.19,237,11.37,12.20,8.70
4318,4319,2017-09-30T23:52:00,12.19,-0.25,94.50,1006.45,0.025,8.81,227,11.34,12.19,11.68

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-08-01T00:02:00,20.88,0.00,91.63,998.08,0.0,8.14,2,19.47,27.87,8.86
1,2,2017-08-01T00:12:00,20.99,0.01,91.26,997.98,0.0,7.05,16,19.51,28.02,8.16
2,3,2017-08-01T00:22:00,20.94,0.01,91.08,997.90,0.0,8.41,31,19.43,27.90,10.75
3,4,2017-08-01T00:32:00,21.00,-0.04,90.74,997.75,0.0,7.24,33,19.43,27.96,8.75
4,5,2017-08-01T00:42:00,20.98,-0.01,90.72,997.78,0.0,5.16,13,19.40,27.92,7.62
...,...,...,...,...,...,...,...,...,...,...,...,...
4410,4411,2017-08-31T23:13:00,16.20,-0.04,76.63,1006.98,0.0,5.57,218,12.10,16.20,8.43
4411,4412,2017-08-31T23:23:00,16.24,-0.05,78.11,1007.19,0.0,4.67,213,12.43,16.24,6.33
4412,4413,2017-08-31T23:33:00,16.15,-0.13,78.91,1007.10,0.0,5.60,212,12.50,16.15,9.37
4413,4414,2017-08-31T23:43:00,15.99,-0.05,79.42,1007.10,0.0,5.56,212,12.44,15.99,8.18
4414,4415,2017-08-31T23:53:00,15.99,-0.08,79.60,1007.08,0.0,6.93,221,12.47,15.99,9.60

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-07-01T00:13:00,17.88,-0.03,58.37,994.80,0.0,9.43,251,9.60,17.88,13.48
1,2,2017-07-01T00:23:00,17.76,-0.04,59.40,994.86,0.0,9.24,251,9.76,17.76,13.85
2,3,2017-07-01T00:33:00,17.64,-0.05,60.24,994.80,0.0,8.20,241,9.85,17.64,14.27
3,4,2017-07-01T00:43:00,17.71,0.06,60.70,994.87,0.0,5.90,238,10.03,17.71,9.60
4,5,2017-07-01T00:53:00,17.52,0.02,61.49,994.91,0.0,8.76,226,10.04,17.52,13.37
...,...,...,...,...,...,...,...,...,...,...,...,...
4453,4454,2017-07-31T23:12:00,21.38,0.06,90.10,998.28,0.0,5.37,333,19.69,28.54,7.11
4454,4455,2017-07-31T23:22:00,21.18,0.04,91.08,998.22,0.0,8.28,9,19.67,28.33,10.00
4455,4456,2017-07-31T23:32:00,21.06,0.01,91.58,998.18,0.0,8.25,6,19.63,28.18,13.01
4456,4457,2017-07-31T23:42:00,20.97,0.05,91.38,998.20,0.0,8.32,354,19.52,28.00,10.33
4457,4458,2017-07-31T23:52:00,20.81,-0.01,91.83,998.05,0.0,7.74,355,19.43,27.77,9.78

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-06-01T00:03:00,20.56,0.00,53.00,1005.98,0.0,4.33,100,10.66,22.12,6.76
1,2,2017-06-01T00:13:00,20.36,-0.06,54.12,1006.08,0.0,3.73,103,10.79,21.99,5.29
2,3,2017-06-01T00:23:00,20.24,-0.13,54.75,1006.10,0.0,3.30,87,10.85,21.89,4.60
3,4,2017-06-01T00:33:00,20.20,-0.22,55.52,1006.06,0.0,2.43,60,11.02,21.94,4.03
4,5,2017-06-01T00:43:00,20.10,-0.24,56.78,1006.12,0.0,2.56,29,11.27,21.95,3.47
...,...,...,...,...,...,...,...,...,...,...,...,...
4311,4312,2017-06-30T23:23:00,18.07,-0.03,56.21,994.79,0.0,10.66,229,9.22,18.07,13.63
4312,4313,2017-06-30T23:28:00,18.03,-0.02,56.26,994.71,0.0,9.74,233,9.20,18.03,13.63
4313,4314,2017-06-30T23:43:00,17.98,0.00,56.92,994.78,0.0,8.13,236,9.33,17.98,10.76
4314,4315,2017-06-30T23:53:00,17.92,0.04,57.10,994.80,0.0,8.26,240,9.31,17.92,12.42
4315,4316,2017-06-30T23:58:00,17.86,0.01,57.57,994.78,0.0,9.97,241,9.38,17.86,13.01

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-05-01T00:05:00,14.28,-0.19,40.25,990.84,0.0,6.60,89,0.96,14.28,9.13
1,2,2017-05-01T00:15:00,14.22,-0.24,40.48,990.80,0.0,6.19,89,0.98,14.22,7.97
2,3,2017-05-01T00:25:00,14.04,-0.23,40.70,990.62,0.0,7.03,83,0.90,14.04,8.64
3,4,2017-05-01T00:35:00,13.96,-0.23,40.87,990.51,0.0,8.98,91,0.88,13.96,11.63
4,5,2017-05-01T00:45:00,13.92,-0.28,40.96,990.47,0.0,7.10,88,0.88,13.92,9.10
...,...,...,...,...,...,...,...,...,...,...,...,...
4391,4392,2017-05-31T23:13:00,21.02,-0.05,50.77,1006.09,0.0,3.59,72,10.43,22.47,5.43
4392,4393,2017-05-31T23:23:00,20.98,-0.08,51.42,1006.07,0.0,3.36,94,10.60,22.52,4.91
4393,4394,2017-05-31T23:33:00,20.85,-0.18,51.79,1006.01,0.0,3.67,76,10.58,22.37,5.82
4394,4395,2017-05-31T23:43:00,20.89,-0.14,51.88,1005.95,0.0,4.30,57,10.64,22.44,5.79
4395,4396,2017-05-31T23:53:00,20.79,-0.12,52.41,1005.96,0.0,4.01,69,10.70,22.37,5.94

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-04-01T00:05:00,15.30,-0.13,38.92,999.04,0.0,0.70,125,1.41,15.30,1.91
1,2,2017-04-01T00:10:00,15.42,0.22,39.21,998.99,0.0,1.37,123,1.61,15.42,2.51
2,3,2017-04-01T00:25:00,15.21,0.02,39.29,999.02,0.0,3.16,97,1.46,15.21,3.59
3,4,2017-04-01T00:35:00,15.10,0.02,40.72,999.00,0.0,3.71,103,1.85,15.10,4.19
4,5,2017-04-01T00:45:00,14.84,-0.01,41.48,998.94,0.0,1.91,150,1.88,14.84,3.81
...,...,...,...,...,...,...,...,...,...,...,...,...
4309,4310,2017-04-30T23:15:00,14.97,-0.22,37.72,990.66,0.0,9.76,94,0.68,14.97,14.54
4310,4311,2017-04-30T23:25:00,14.80,-0.12,38.33,990.57,0.0,11.76,97,0.75,14.80,13.77
4311,4312,2017-04-30T23:35:00,14.67,-0.21,38.96,990.65,0.0,11.25,99,0.86,14.67,14.35
4312,4313,2017-04-30T23:45:00,14.43,-0.16,39.53,990.67,0.0,8.29,92,0.85,14.43,9.62
4313,4314,2017-04-30T23:55:00,14.35,-0.23,40.01,990.72,0.0,6.97,86,0.94,14.35,8.45

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-03-01T00:03:00,5.25,-0.46,78.69,988.40,0.0,13.55,238,1.85,5.25,20.25
1,2,2017-03-01T00:13:00,5.21,-0.45,78.74,988.40,0.0,15.15,237,1.82,5.21,18.97
2,3,2017-03-01T00:23:00,5.25,-0.45,77.25,988.30,0.0,15.22,237,1.60,5.25,23.43
3,4,2017-03-01T00:33:00,5.36,-0.49,74.60,988.47,0.0,19.36,226,1.21,5.36,25.71
4,5,2017-03-01T00:43:00,5.31,-0.48,74.42,988.53,0.0,17.21,233,1.13,5.31,25.68
...,...,...,...,...,...,...,...,...,...,...,...,...
4432,4433,2017-03-31T23:15:00,16.67,0.02,34.10,999.07,0.0,3.52,109,0.79,16.67,4.55
4433,4434,2017-03-31T23:25:00,16.22,0.14,35.51,999.07,0.0,3.49,102,0.95,16.22,4.28
4434,4435,2017-03-31T23:35:00,16.07,0.27,35.85,999.03,0.0,3.00,113,0.95,16.07,3.77
4435,4436,2017-03-31T23:45:00,15.92,0.05,36.28,999.03,0.0,3.18,117,0.98,15.92,4.02
4436,4437,2017-03-31T23:55:00,15.51,-0.20,37.46,998.99,0.0,0.91,158,1.07,15.51,1.92

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-02-01T00:03:00,2.68,-0.60,82.92,1003.90,0.0,5.36,45,0.08,1.30,7.28
1,2,2017-02-01T00:13:00,2.70,-0.58,83.23,1003.90,0.0,4.26,41,0.14,2.70,5.81
2,3,2017-02-01T00:23:00,2.51,-0.54,83.93,1004.02,0.0,7.42,35,0.07,0.38,9.84
3,4,2017-02-01T00:33:00,2.40,-0.52,84.80,1003.92,0.0,7.99,35,0.11,0.09,10.31
4,5,2017-02-01T00:43:00,2.26,-0.51,85.35,1004.01,0.0,9.79,35,0.06,-0.56,11.50
...,...,...,...,...,...,...,...,...,...,...,...,...
3940,3941,2017-02-28T23:13:00,5.15,-0.49,80.95,987.90,0.0,13.35,237,2.16,5.15,19.24
3941,3942,2017-02-28T23:23:00,5.14,-0.45,80.83,987.95,0.0,16.12,239,2.12,5.14,23.17
3942,3943,2017-02-28T23:33:00,5.13,-0.51,80.94,988.15,0.0,16.68,230,2.13,5.13,22.55
3943,3944,2017-02-28T23:43:00,5.14,-0.49,79.69,988.12,0.0,17.10,233,1.93,5.14,25.10
3944,3945,2017-02-28T23:53:00,5.19,-0.45,78.99,988.28,0.0,15.71,235,1.85,5.19,20.69

,_id,Date and time (YYYY-MM-DD HH:MM:SS),Temperature (Degree Celcius),Global irradiance (W/m^2),Humidity (%),Atmospheric pressure (hPa; not normalized to sea level),Precipitation (mm),Average wind speed (km/h; 10min window),Wind direction (Degree),Dew point (Degree Celcius),Apparent temperature (Degree Celcius),Maximum wind speed (km/h; 10min window)
0,1,2017-01-01T00:03:00,-4.06,-0.65,98.68,1014.66,0.0,7.60,169,-4.24,-7.36,10.84
1,2,2017-01-01T00:13:00,-3.83,-0.63,98.77,1014.55,0.0,6.06,185,-3.99,-6.45,8.59
2,3,2017-01-01T00:23:00,-3.69,-0.65,98.67,1014.43,0.0,6.93,188,-3.87,-6.67,8.64
3,4,2017-01-01T00:33:00,-3.94,-0.63,98.71,1014.29,0.0,6.88,190,-4.12,-6.94,8.93
4,5,2017-01-01T00:43:00,-4.09,-0.64,98.73,1014.06,0.0,7.67,192,-4.27,-7.43,10.60
...,...,...,...,...,...,...,...,...,...,...,...,...
4450,4451,2017-01-31T23:13:00,2.77,-0.45,81.72,1003.78,0.0,4.46,53,-0.04,2.77,8.19
4451,4452,2017-01-31T23:23:00,2.81,-0.49,82.02,1003.79,0.0,3.35,49,0.05,2.81,6.03
4452,4453,2017-01-31T23:33:00,2.87,-0.54,81.86,1003.88,0.0,3.29,32,0.08,2.87,6.33
4453,4454,2017-01-31T23:43:00,2.82,-0.50,81.98,1003.90,0.0,4.49,42,0.05,2.82,6.54
4454,4455,2017-01-31T23:53:00,2.71,-0.52,82.99,1003.90,0.0,6.46,49,0.11,0.93,8.19